# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Latex files #
###############
*.aux
*.out
*.nav
*.snm
*.synctex.gz
*.toc
*.bbl
*.blg

# CMake files #
###############
cmake_install.cmake
CMakeFiles
CMakeCache.txt
Makefile

# Eclipse Project Files #
#########################
.cproject
.project
.settings
